

* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background: hsl(192, 15%, 94%);
  font-size: 2rem;
}

h1{
  text-align: center;
  padding-top: 100px;
}

.flex-page {
  display: flex;
  height: 100vh;
}

.side-nav {
  text-align: center;
  background: #2980B9;
  padding-top: 1.5rem;
  height: 100%;
}

.side-nav ul {
  margin: 0;
  padding: 0;
}

.side-nav ul li a {
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  color:  #ECF0F1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
}

.side-nav ul li a:hover {
    background:#2C3E50;
  }


.side-nav ul li a:focus {
    background: #2C3E50;
  }


.content {
  margin: 30px auto;
  flex-grow: 1;
  padding: 2rem;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.square {
  box-shadow: 5px 5px 20px #2980B9;
  margin: 3rem;
  transition: all 0.2s ease;
  height: 300px;
  width: 400px;
  overflow: hidden;
 
}
.square h3{
  text-align: center;
  padding: 1rem;
}


.gif img{
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
}

.square img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: 0%;
}
.title-1{
  position: relative;
  top: -100px;
}
.square:hover {
  cursor: pointer;
    transform: scale(1.15);
  }

  .wrapper{
    max-width: 1300px;
    width: 90%;
    margin: auto;
  }

  .wrapper h2{
    margin: 0;
    padding: 0;
    margin-left: 1em;
  }
  .card{
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 1em;
    margin: 1em 1em;
  }
  .image{
    max-height: 600px;
    max-width: 700px;
    width: 100%;
  }
  .paragraph{
    flex: 1;
    max-height: 370px;
    overflow-y:scroll ;
  }
  .arrow-left, .arrow-right{
    width: 60px;
    height: 60px;
  }

  .arrow-left img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: scaleX(-1)
  }

  .arrow-right img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  .arrows{
    margin-top: 40px;
    justify-content: space-between;
    display: flex;
    gap: 2em;
  }

  pre{
    width: 100%;
    border: 3px solid #2980B9;
    padding: 3rem;
    max-width: 100%;
    overflow-x: scroll;
    border-radius: 5px;
  }